﻿<%@ Page Language="C#" Inherits="Project1.Default" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Default</title>
</head>
<body>
	<form id="form1" runat="server">
		<asp:TextBox id="tbEmail" runat="server" placeholder="Email"   />	
		<asp:TextBox id="tbPassword" runat="server" placeholder="Password" />	
		<asp:Button id="btnLogin" runat="server" Text="Log In" OnClick="OnLogInButton1Clicked" />

		<asp:TextBox id="tbSearch" runat="server" placeholder="Password" />	
		<asp:Button id="btnSearch" runat="server" Text="Click me!" OnClick="OnSearchButtonclicked" />

	</form>
</body>
</html>
